{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container py-5">
  <div class="text-center mb-5">
    <h1>Natural edge banding</h1>
    <p class="lead">Choose excellence</p>
  </div>

  <div class="mb-5 text-center">
    <h2>Perfecting Edges: The Art of Wood Edging</h2>
    <p class="fs-5">Discover the secret to flawless finishes with our premium European wood edging. Crafted from the finest European timber, our edging solutions offer the perfect blend of functionality and aesthetic appeal, elevating your projects from ordinary to extraordinary.</p>
  </div>

  <div class="mb-5">
    <h3>Nature’s Finest, Precision-Cut</h3>
    <p>Our edging strips are more than just functional elements – they’re the final brushstroke in your masterpiece. Sourced from Europe’s most prestigious forests, each piece of edging carries with it the legacy of centuries-old trees and expert craftsmanship.</p>
  </div>

  <div class="mb-5">
    <h3>Unrivaled Variety</h3>
    <ul>
      <li><strong>Wood Species:</strong> alder, ash white, ash olive, beech, beech brown, birch, cherry, linden, macore (sapeli), maple, oak, oak (american red), oak (american white), pine (skandinavian pine), teak, walnut american, wenge.</li>
      <li><strong>Thickness:</strong> 0.5 mm / 1 mm / 1.5 mm / 2 mm / 2.5 mm / 3 mm</li>
      <li><strong>Widths:</strong> from 15 mm to 300 mm (we can do any custom sizes to suit your exact needs)</li>
      <li><strong>Lengths:</strong> coils 50 m, 100 m, 150 m, 200 m, 250 m, 300 m</li>
    </ul>
  </div>

  <div class="mb-5">
    <h3>Duplicated Veneer</h3>
    <p>Duplicated veneer is made by splicing natural veneer along its length (zigzag-type joints, which makes the joints very strong and practically invisible) into rolls, with subsequent gluing (lamination) to non-woven synthetic material “fleece”, which makes it elastic and stable.</p>
    <p>The resulting material is subjected to three times grinding on the front surface, which eliminates the need for grinding the finished product. Unlike natural veneer, duplicated veneer is less demanding on storage conditions. It is not so sensitive to changes in temperature and humidity (if a natural veneer needs a stable temperature of 20 °C and a relative humidity of 65–70%, then the duplicated one can withstand less severe storage conditions).</p>
  </div>
</div>
{% endblock %}
