{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container py-5">
  <div class="text-center mb-5">
    <h1>Edge-glued wood panel</h1>
    <p class="lead">Crafting possibilities</p>
    <p class="fs-5">Unlock unlimited creative potential with our professional-grade furniture boards, engineered to transform design concepts into stunning, durable realities.</p>
  </div>

  <div class="row mb-5">
    <div class="col-md-6">
      <h4>Wood species:</h4>
      <p>Oak or Ash</p>
      <h4>Dimensions:</h4>
      <ul>
        <li>Thickness: from 20 mm to 40 mm</li>
        <li>Width: 300 mm +</li>
        <li>Length: 1050 mm +</li>
      </ul>
      <h4>Origin:</h4>
      <p>Country of origin of raw materials: Ukraine</p>
      <h4>Packaging:</h4>
      <p>Individual panels folded on pallets</p>
      <h4>Quality:</h4>
      <p>Panel not calibrated and not grind</p>
    </div>
    <div class="col-md-6">
      <img src="{% static 'images/6.1.png' %}" class="img-fluid rounded shadow" alt="Wood Panel Sample">
    </div>
  </div>

  <div class="mb-5">
    <h3>Properties of glued panels</h3>
    <p>Oak glued panels made from natural wood have different specifications of length, width and thickness. It is made by splicing planed all round timbers between each other. Depending on the characteristics of the timbers (length, width), different types of seams are formed in the panels: parallel with the joint along the length (massive panel) or finger-joint (timbers connected along the length and width). This is a strong, durable material, widely used in carpentry and engineering.​</p>
  </div>

  <div class="mb-5">
    <h3>Technical characteristics of wood</h3>
    <ul>
      <li>Density – 675 kg/m³</li>
      <li>Elastic modulus (GPa) – 10.6</li>
      <li>Tensile strength (MPa) – 97.1</li>
      <li>Compressive strength (MPa) – 46.3</li>
      <li>Hardness (Brinell coefficient) – 3.7</li>
      <li>Radial shrinkage – 4.7%</li>
      <li>Tangential shrinkage – 8.4%</li>
      <li>Volume shrinkage – 13.0%</li>
    </ul>
  </div>

  <div class="mb-5">
    <h3>Use of glued panels</h3>
    <p>Wood glued panel is universal in application. This is a popular material for such works:</p>
    <ul>
      <li><strong>Furniture manufacturing:</strong> countertops, beds, cabinet furniture, children’s and office furniture, chairs, armchairs, sofas.</li>
      <li><strong>Interior design:</strong> wall panels, decorative elements, hinged shelves.</li>
      <li>Stairs</li>
      <li>Doors, windows and other carpentry.</li>
    </ul>
  </div>
</div>
{% endblock %}
